.tag{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 35px;
   border-radius: 12px;
   color: var(--grayscale-10)!important;
   font-weight: 400;
   text-transform: capitalize;
   font-size: 12px;
}
.tag.primary{
    background: var(--grayscale-100);
}
.tag.secondary{
    background: var(--grayscale-100);
    width: 100%;
}
