.container-movieTopRated {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-radius: 10px;
    gap: 50px;
    margin-right: 50px;
  }

  .container-movieTopRated h2 {
    font-size: 20px;
  }

  .container-card{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }


  .container-movieTopRated-block1{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .container-favoritesgenres{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .favoritesgenres-tag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }

  .card-film{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }