.container-movieTopRated {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-radius: 10px;
    gap: 50px;
    margin-right: 50px;
  }

  .container-movieTopRated h2 {
    font-size: 20px;
  }

    .movietoprated-card{
      width: 25%;
      aspect-ratio: 4/5;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
  }

  .container-card{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }


  .container-movieTopRated-block1{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .container-favoritesgenres{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .favoritesgenres-tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card-film{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }