.cointainer-genre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.affiche-genre{
  font-size: 14px;
  font-weight: 400;
  color: var(--grayscale-50);
}

.card-movietoprated{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-movietoprated h3{
    font-size: 20px;
}