.red{
    --background: var(--main-color);
}


.button{
    border-radius: 25px;
    padding: 15px 25px;
    border: none;
}
.primary{
    background: var(--background);
    color: #fff;
}
.secondary{
    background: transparent;
    border: 1px solid var(--background);
    color: var(--background);
}
.tertiary{
    background: transparent;
    color: var(--background);
}
.quaternary{
    background: var(--grayscale-20);
    color: var(--grayscale-60);
}