.button.red{
    --background: var(--main-color);
}
.button.white{
    --background: #fff;
}

.button.button{
    border-radius: 25px;
    padding: 15px 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-weight: 500;
}
.button.primary{
    background: var(--background);
    color: #fff;
}
.button.secondary{
    background: transparent;
    border: 1px solid var(--background);
    color: var(--background);
}
.button.tertiary{
    background: transparent;
    color: var(--background);
}
.button.quaternary{
    background: var(--grayscale-20);
    color: var(--grayscale-60);
}
.button.small{
    font-size: 13px;
    padding: 8px 20px;
}
.button.medium{
    font-size: 14px;
    padding: 10px 25px;
}
.button.large{
    font-size: 15px;
    padding: 12px 30px;
}