.red{
    --background: var(--main-color);
}


.button{
    border-radius: 25px;
    padding: 15px 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-weight: 500;
}
.primary{
    background: var(--background);
    color: #fff;
}
.secondary{
    background: transparent;
    border: 1px solid var(--background);
    color: var(--background);
}
.tertiary{
    background: transparent;
    color: var(--background);
}
.quaternary{
    background: var(--grayscale-20);
    color: var(--grayscale-60);
}